<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1 class="display-4">POKEDEX</h1>
        <p class="lead">Vous trouverez ici la liste des pokémons que vous possédez.</p>
        <!-- Au survol de la souris sur un pokémon, la classe "alert-danger" doit être remplacée par "alert-success" -->
        <div class="alert alert-danger mt-3" role="alert">
            <h4 class="alert-heading">pokemo survole</h4>
            <hr>
            <!-- Au survol de la souris sur un pokémon, le nom de ce dernier doit remplacer le texte "Aucun" -->
            <p>Aucun</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card-deck row">
        <!--
            Il doit y avoir ici autant de pokémon que spécifié dans les données du pokédex
            S'il est demandé dans ce TP de communiquer des informations depuis le pokedex, vers les pokemons...
            ... il y a de grandes chances que cela se passe ici ! =)
        -->
        <pkd-pokemon class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 my-1"
        *ngFor="let pokemon of pokemons " 
        ></pkd-pokemon>
    </div>
</div>

<!-- (mouseover)="getPokemonName(pokemon)" 
        [pokemon]="pokemon"
        (updatePokemonName)="updateCurrentPokemon($event)" -->