<!-- La détection du survol avec la souris du pokemon devrait se faire ici ! -->
<div class="card">
    <!-- Le nom du pokemon doit être utilisé pour construire l'url de l'image (penser au pipes !) -->
    <img src="???" class="card-img-top" [alt]="">
    <div class="card-body">
        <!-- A dynamiser ! -->
        <h5 class="card-title">nom: {{???.specie}}</h5>
        <!--
            Il doit y avoir autant de badge ici que le pokemon en possède. La classe "badge-" + nom du type doit être ajoutée.
            Exemple : Si on doit créer un badge plante, la classe "badge-Plante" doit être ajoutée ici.
        -->
        <span class="badge mx-1">[[ NOM DU TYPE DE BADGE ]]</span>
        <!-- Utiliser le pipe "truncate" (à créer) pour afficher les 100 premiers caractères de la description ici -->
        <p class="card-text">[[ LES 100 PREMIERS CARACTÈRES DE LA DESCRIPTION DU POKEMON ]]</p>
    </div>
</div>