{
    "presets": [
      [
        "@babel/env",
        {
            "targets": {
              "chrome": "30",
              "firefox": "60",
              "ie": "11"
            },
            "useBuiltIns": "usage"
        }
        
      ]
    ]
  }